app1/js/.sass-cache
app1/js/basic.min.js
app1/js/app.min.js
app1/js/app.min.js.map
app1/js/components.min.js
app1/js/components.min.js.map
app1/js/basic.min.js.map
app1/css
app2/css
app2/js/app.min.js
app2/js/components.min.js
app2/js/basic.min.js
app2/js/components.min.js.map
app2/js/basic.min.js.map
app2/js/app.min.js.map
app2/js/.sass-cache
app2/js/application/templates.js
app1/js/node_modules
app2/js/node_modules
.idea