<div class="logo"></div>
<div class="search">
    <input class="search-item" name="search"/>
    <input class="search-btn" type="submit" value="Search"/>
</div>
<div class="important-links"></div>
<div class="trolley-container"></div>
