<div class="bread-crumbs"></div>
<div class="product">
    <div class="img-container">
        <div class="img-thumbnail">
            <a href="#product/sigma01.jpg">
                <img src="img/product/sigma01.jpg"/>
            </a>
            <a href="#product/sigma02.jpg">
                <img src="img/product/sigma02.jpg"/>
            </a>
            <a href="#product/sigma03.jpg">
                <img src="img/product/sigma03.jpg"/>
            </a>
            <a href="#product/sigma04.jpg">
                <img src="img/product/sigma04.jpg"/>
            </a>
            <a href="#product/sigma05.jpg">
                <img src="img/product/sigma05.jpg"/>
            </a>
            <a href="#product/sigma06.jpg">
                <img src="img/product/sigma06.jpg"/>
            </a>
        </div>
        <img class="full-img" src="img/product/{{ defaultPicture }}"/>
    </div>
    <div class="product-description">
        {{> product/_description }}
    </div>
    <div class="action-buttons">
        {{> product/_actionButtons }}
    </div>
    <div class="additional-info">
        <div class="also-bought-block">
            <h3>Customers Who Bought This Item Also Bought</h3>

            <div class="also-bought-region"></div>
        </div>

        <div class="reviews-region"></div>
    </div>
</div>
