<h1>Sigma 210306 18-35mm F1.8 DC HSM Lens for Nikon APS-C DSLRs (Black)</h1>

<h2>by Sigma</h2>
<hr/>
<span class="price">Price <span class="amount">$799</span> and <strong>free
    shipping</strong>.</span>
<span class="availability">Only 8 left in stock (more on the way).</span>
<ul class="features">
    <li>18-35mm focal length</li>
    <li>27-52.5mm equivalent focal length on APS-C cameras</li>
    <li>F1.8 maximum aperture; F16 minimum</li>
    <li>Ring-type ultrasonic-type AF motor with full-time manual focusing</li>
    <li>72mm filter size</li>
    <li>0.28 m / 11.02" minimum focus</li>
    <li>Available in Canon EF (EF-S), Sony Alpha (DT), Nikon F (DX) mounts</li>
</ul>
