.reviews-region {
  @include span-columns(12 of 12);

  .reviews-block {
    @include span-columns(12 of 12);

    .reviews-wrapper {
      @include span-columns(12 of 12);

      .reviews {
        @include span-columns(11 of 12);

        .content,
        .author {
          display: block;
          font-size: em(12px);
        }

        .author {
          font-weight: bold;
        }
      }
    }

    .new-review {
      @include span-columns(12 of 12);

      .add-review {
        @include span-columns(12 of 12);
      }

      .review-form {
        @include span-columns(5 of 12);

        .success {
          @include span-columns(5 of 5);
          @include transition(height 1s);
          overflow: hidden;
          height: 0;

          &.visible {
            height: 30px;
          }
        }
      }
    }
  }
}
